:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  border-color: var(--ig-gray-400);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 24px;
  width: 900px;
  min-width: 50px;
  min-height: 620px;
  max-width: 900px;
  flex-shrink: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.conditions {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  margin: 0 0 8px;
}
.group_6 {
  border-color: #9C27B0;
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 0 0 0 4px;
}
.group_7 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 0 0 0 16px;
}
.group_8 {
  background-color: var(--ig-gray-100);
  border-color: var(--ig-gray-400);
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 12px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_9 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  width: min-content;
}
.group_10 {
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 8px 0 0;
  min-width: 50px;
}
.group_11 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.h6 {
  margin: 0 0 8px;
  height: max-content;
  min-width: min-content;
}
.text {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.icon {
  color: #9C27B0;
}
.select {
  height: max-content;
}
.button {
  --igx-button-foreground: #9C27B0;
  --ig-size: var(--ig-size-small);
  height: max-content;
  min-width: min-content;
  align-self: start;
}
.user-input {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.select_2 {
  width: 200px;
  height: max-content;
  min-width: min-content;
  max-width: 200px;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button_2 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
