:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  border-color: var(--ig-gray-400);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 24px;
  width: 900px;
  height: 744px;
  min-width: 50px;
  min-height: 620px;
  max-width: 900px;
  max-height: 744px;
  flex-shrink: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  overflow: auto;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.conditions_group-4 {
  border-color: #9C27B0;
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  margin: 0 0 8px;
  padding: 0 0 0 4px;
}
.group_6 {
  background-color: var(--ig-gray-100);
  border-color: var(--ig-gray-300);
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  overflow: hidden;
  position: relative;
  margin: 0 8px 0 16px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_7 {
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 12px;
}
.group_8 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_9 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  width: min-content;
}
.group_10 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-400);
  border-width: 1px 0px 0px;
  border-style: dashed;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_11 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  padding: 0 0 0 16px;
}
.group_12 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  margin: 0 0 8px;
}
.group_13 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
}
.group_14 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.conditions_group {
  border-color: #068E6B;
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  margin: 0 0 8px;
  padding: 0 0 0 4px;
}
.group_15 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 0 0 0 16px;
}
.group_16 {
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 8px 0 0;
  min-width: 50px;
}
.h6 {
  margin: 0 0 8px;
  height: max-content;
  min-width: min-content;
}
.text {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.icon {
  color: #9C27B0;
}
.text_1 {
  height: max-content;
  min-width: min-content;
}
.chip {
  --ig-size: var(--ig-size-large);
  width: max-content;
  height: max-content;
}
.icon_1 {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: var(--ig-gray-500);
}
.icon_2 {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.icon_3 {
  color: #068E6B;
}
.select {
  height: max-content;
}
.button {
  --igx-button-foreground: #9C27B0;
  height: max-content;
  min-width: min-content;
  align-self: start;
}
.select_1 {
  height: max-content;
  flex-shrink: 0;
}
.input {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button_2 {
  --igx-button-foreground: #9C27B0;
  --ig-size: var(--ig-size-small);
  height: max-content;
  min-width: min-content;
  align-self: start;
}
.button_3 {
  --igx-button-foreground: #068E6B;
  --ig-size: var(--ig-size-small);
  height: max-content;
  min-width: min-content;
  align-self: start;
}
.dropdown {
  left: 0;
  top: 0;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.button_4 {
  --ig-size: var(--ig-size-small);
  height: max-content;
  flex-shrink: 0;
}
.button_5 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
